.developer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #2f528a;
  font-size: 1rem;
  padding: 1rem 0;
}

.developer > span {
  margin-left: 5px;
}
